<div id="loginPage" >
  <div data-role="header">
    <h1>ENTARENA - Login</h1>
  </div>
  <div data-role="content">
    <form name="loginPage_form" data-ajax="false" ng-submit="login()">
      <div data-role="fieldcontain">
        <label for="loginPage_username">Benutzername</label>
        <input type="text" id="loginPage_username" ng-model="username" ng-required="true">
      </div>
      <div data-role="fieldcontain">
        <label for="loginPage_password">Passwort</label>
        <input type="password" id="loginPage_password" ng-model="password" ng-required="true">
      </div>
      <input type="submit" class="login" value="Login" ng-disabled="!loginPossible()">
    </form>
  </div>
</div>